.topnav-bg {
	background: url(../images/bg_headertop.jpg) no-repeat center top #17c160;
	height: 6px;
}

.header {
	background: #ffffff;
	height: 128px;
	width: 100%;
}

.wcontainer {
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	padding-right: 0;
	width: 1200px
}

.wcontainer:after,
.wcontainer:before {
	content: " ";
	display: table
}

.wcontainer:after {
	clear: both
}

@media (min-width:1020px) {
	.wcontainer {
		padding-left: 15px;
		padding-right: 15px;
		width: auto
	}
}

@media (min-width:1260px) {
	.wcontainer {
		padding-left: 0;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 1200px
	}
}

.header-wrap {
	height: 82px;
}

.p-icon {
	background-color: transparent;
	background-image: url("../images/iconspirit.png");
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
}

.header-wrap .hm-left {
	float: left;
	width: 410px;
	padding-top: 20px;
}

.header-wrap .hm-left .logo {
	background-position: 0 0;
	height: 41px;
	overflow: hidden;
	width: 141px;
	float: left;
}

.header-wrap .hm-left .logo a {
	display: block;
	width: 141px;
	height: 41px;
	text-indent: -999em;
}

.header-wrap .hm-left .secondary-branding {
	float: left;
	margin-left: 27px;
	width: 242px;
}

.header-wrap .hm-left .secondary-branding p.h1 {
	color: #00a63f;
	font-size: 16px;
	font-weight: bold;
}

.header-wrap .hm-left .secondary-branding p {
	color: #999999;
	font-size: 12px;
}

.header-wrap .hm-right {
	position: relative;
	float: right;
	font-size: 13px;
	padding-left: 20px;
	z-index: 11;
}

.hd-language {
	margin-top: 20px;
	float: left;
	position: relative;
	line-height: 38px;
}

.hd-cur-item {
	display: block;
	padding: 0 10px;
	cursor: pointer;
}

.icon-flag {
	width: 30px;
	height: 20px;
}

.icon-en {
	background-position: -205px 0;
}

.icon-es {
	background-position: -173px 0;
}

.hd-language .icon-flag {
	margin-top: -2px;
}

.hd-func-dropdown-active {
	background: #f5f5f5;
}

.hd-func-dropdown-active .hd-language {
	color: #00a63f;
}

.hd-language .icon-select-angle {
	margin-left: 4px;
}

.icon-select-angle {
	width: 8px;
	height: 4px;
	background-position: -153px 0;
}

.hd-func-dropdown-active .icon-select-angle {
	background-position: -153px -4px;
}

.hd-fold {
	display: none;
	position: absolute;
	right: 0;
	margin-right: -20px;
	line-height: 1.5;
	padding: 10px 10px 6px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.hd-language-list {
	width: 140px;
}

.hd-func-dropdown-active .hd-fold {
	display: block;
}

.header-wrap .hm-right .hd-language-list a:hover {
	color: #fff;
	text-decoration: none;
}

.header-wrap .hm-right .hd-language-list a.active:hover {
	color: #333;
}

.header-wrap .hm-right .hd-func-dropdown-active .hd-language-list .hd-fold a.active:hover {
	color: #333;
}

.hd-language-list a {
	line-height: 23px;
	display: block;
	height: 23px;
	font-size: 14px;
	padding: 10px;
	margin-bottom: 4px;
}

.hd-currency-list .active,
.hd-currency-list .active:hover,
.hd-language-list .active,
.hd-language-list .active:hover {
	background: #f5f5f5;
	color: #333;
	cursor: default;
}

.hd-language-list a:hover {
	background-color: #00a63f;
	color: #fff;
	text-decoration: none;
}

.hd-func-dropdown-active:after,
.hd-func-dropdown-active:before {
	right: 5px;
	position: absolute;
	content: '';
}

.hd-func-dropdown-active:before {
	top: 20px;
	border: 10px solid transparent;
	border-bottom-color: #ccc;
}

.hd-func-dropdown-active:after {
	top: 21px;
	border: 10px solid transparent;
	border-bottom-color: #fff;
}

.header-wrap .hm-right .nav-cart {
	position: relative;
	float: left;
	margin-left: 32px;
	width: 68px;
	margin-top: 25px
}

.header-wrap .hm-right .nav-cart i.p-icon {
	float: left;
	background-position: -426px -50px;
	width: 28px;
	height: 28px;
	vertical-align: middle;
	margin-right: 10px;
}

.header-wrap .hm-right .nav-cart a {
	float: left;
	display: inline-block;
	height: 30px;
	position: relative;
	color: #333;
}

.header-wrap .hm-right .nav-cart:hover a {
	text-decoration: none;
	color: #00a63f;
}

.header-wrap .hm-right .nav-cart a:hover {
	text-decoration: none;
	color: #00a63f;
}

.header-wrap .hm-right .nav-cart .text {
	max-width: 30px;
	position: absolute;
	bottom: 0px;
	left: 39px;
	line-height: 12px;
	display: inline-block;
	height: 12px;
}

.header-wrap .hm-right .nav-cart:hover i.p-icon {
	background-position: -426px 0;
	cursor: pointer;
}

.header-wrap .hm-right .nav-cart .cart-number {
	min-width: 25px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	border-radius: 8px;
	background-color: #00a63f;
	color: #fff;
	font-size: 12px;
	position: absolute;
	top: 0px;
	left: 38px;
	padding: 0 2px;
}

.header-wrap .hm-right .nav-user-account {
	position: relative;
	float: left;
	height: 70px;
	margin-left: 20px;
}

.header-wrap .hm-right .user-account-info {
	position: relative;
	border: 1px solid transparent;
	border-bottom: 0 none;
	-webkit-tap-highlight-color: transparent;
	margin-top: 14px;
}

.header-wrap .hm-right .user-account-info .user-account-inner {
	float: left;
}

.header-wrap .hm-right .nav-user-account i.p-icon {
	background-position: -376px -49px;
	cursor: pointer;
	width: 28px;
	height: 28px;
	vertical-align: middle;
	margin-right: 10px;
	float: left;
	margin-top: 2px;
}

.header-wrap .hm-right .nav-user-account.user-account-unfold i.p-icon {
	background-position: -376px -49px;
}

.user-account-info .account-unsigned {
	display: block;
	color: #f60;
	height: 18px;
	line-height: 18px;
}

.header-wrap .hm-right a {
	color: #333;
}

.header-wrap .hm-right a:hover {
	color: #00a63f;
	text-decoration: none;
}

.header-wrap .hm-right .user-account-info .account-unsigned a:first-child {
	font-weight: 700;
}

.header-wrap .hm-right .user-account-info .account-unsigned .ua-line {
	margin: 0 5px;
	color: #e9e9e9;
}

.header-wrap .hm-right .user-account-info .mypcbway {
	display: block;
}

.header-wrap .hm-right .user-account-info .mypcbway b {
	display: none;
	margin-left: 5px;
	font-weight: 200;
	color: #999;
}

.header-wrap .hm-right .user-account-info .account-name {
	display: none;
	width: 80px;
	height: 18px;
	line-height: 18px;
}

.header-wrap .hm-right .user-account-info {
	padding: 8px 10px 6px 6px;
}

.header-wrap .hm-right .user-account-unfold .user-account-info {
	border-color: #ccc;
	background-color: #fff;
	box-shadow: 2px -2px 2px #ccc;
	z-index: 13;
}

.header-wrap .hm-right .user-account-main {
	top: 58px;
}

.header-wrap .hm-right .user-account-unfold .user-account-main {
	display: block
}

.header-wrap .hm-right .user-account-main {
	display: none;
	position: absolute;
	right: 0;
	padding-top: 15px;
	width: 260px;
	border: 1px solid #ccc;
	background-color: #fff;
	color: #656565;
	z-index: 12;
	box-shadow: 2px 2px 2px #ccc
}

.header-wrap .hm-right .user-account-main li {
	list-style: none;
	margin-left: 0
}

.header-wrap .hm-right .user-account-main dl dd {
	margin-left: 0
}

.header-wrap .hm-right .flyout-user-signout {
	display: none;
	margin: 0 20px 15px;
	line-height: 24px;
	font-size: 14px;
	font-weight: 700;
}

.header-wrap .hm-right .flyout-user-signIn {
	display: none;
	padding: 10px 0 14px;
	border-bottom: 1px solid #ddd;
	margin: 0 20px;
}

.header-wrap .hm-right .flyout-user-signIn p {
	margin-bottom: 0;
}

.header-wrap .hm-right .flyout-user-signIn .flyout-welcome-text {
	margin: 0 0 5px;
}

.header-wrap .hm-right .flyout-user-signIn .sign-btn,
.header-wrap .hm-right .flyout-visitors-login .join-btn {
	display: block;
	height: 30px;
	line-height: 30px;
	border-radius: 3px;
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	color: #fff;
	background-color: #00a63f;
}

.header-wrap .hm-right .flyout-user-signIn .sign-btn:hover {
	color: #fff;
	background-color: #008a32;
	text-decoration: none;
}

.header-wrap .hm-right .flyout-visitors-login {
	display: none;
	margin: 12px 20px 20px
}

.header-wrap .hm-right .flyout-visitors-login dt {
	display: block;
	margin-bottom: 5px
}

.header-wrap .hm-right .flyout-visitors-login .join-btn {
	background-color: #f7961e
}

.header-wrap .hm-right .flyout-visitors-login .join-btn:hover {
	background-color: #dd7a00;
	color: #fff;
	text-decoration: none;
}

.flyout-remind-list {
	margin: 0 20px 10px;
	font-size: 14px;
}

.flyout-remind-list p {
	padding: 3px 0;
	margin-bottom: 0;
}

.flyout-remind-list p b {
	color: #ff6600;
	font-weight: 200;
	margin-right: 5px;
}

.flyout-quick-entry {
	background-color: #f4f4f4;
}

.user-account-main li {
	list-style: none;
	margin-left: 0;
}

.flyout-quick-entry li a {
	display: block;
	padding: 6px 0 6px 20px;
	line-height: 22px;
	color: #333;
}

.flyout-quick-entry li a:hover {
	background-color: #e8e8e8;
}

.flyout-quick-entry li:first-child a {
	background-color: #e8e8e8;
}

.navigation {
	background: #373D41;
	height: 40px;
}

.navigation .topNavli {
	text-align: center;
	cursor: pointer;
	display: inline-block;
	padding: 0 11px;
	height: 40px;
}

.navigation .topNavli:hover {
	background: #fff;
}

.navigation .topNavli:hover a {
	color: #333;
	text-decoration: none;
	border-bottom-color: #ff8b12;
}

.navigation .navitem:hover {
	color: #333;
	text-decoration: none;
	border-bottom-color: #ff8b12;
}

.navigation .navitem {
	padding: 13px 0 9px;
	display: inline-block;
	color: #FFFFFF;
	font-size: 13px;
	line-height: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border-bottom: 4px transparent solid;
}

.navigation .current .navitem {
	border-bottom-color: #ff8b12;
}

.navigation .icon-nemail {
	margin-top: 13px;
	font-size: 12px;
	color: #d8d8d8;
}

.navigation .icon-nemail i.p-icon {
	width: 16px;
	height: 15px;
	background-position: -247px 0;
	margin-right: 6px;
}


/*footer*/

.footer {
	width: 100%;
	height: auto;
	background-color: #333;
	padding: 30px 0;
	color: #a7a7a7;
}
.footer a {
	color: #A7A7A7;
}

.footer_left {
	float: left;
	width: 80%;
	/*background: brown;*/
}

.footer_right {
	float: right;
	width: 20%;
}

.footer_left_top {
	overflow: hidden;
	clear: both;
}

.footer_left_top dl,
.footer_left_bottom dl {
	width: 25%;
	float: left;
}

.footer_left_top dt {
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 10px;
}

.footer_left_top dd {
	line-height: 22px;
}

.footer_right li {
	padding-bottom: 12px;
	text-align: left;
	overflow: hidden;
}

.footer_right li input[type="text"] {
	width: 80%;
	padding-left: 26px;
	line-height: 32px;
	color: #888;
	font-size: 12px;
	height: 32px;
	border-radius: 3px;
}

.footer_right li textarea {
	width: 90%;
	text-indent: 5px;
	color: #888;
	font-size: 12px;
	border-radius: 3px;
	border: 0 none;
	margin-left: 0;
	float: left;
}

.footer_right li #name {
	background: url(../images/avatar.png) 6px center no-repeat #fff;
	border: 0 none;
}

.footer_right li #email {
	background: url(../images/email.png) 6px center no-repeat #fff;
	border: 0 none;
}

.footer_right li input[type="button"] {
	margin-left: 0;
	height: 30px;
}

.footer_left_bottom {
	padding-top: 25px;
	overflow: hidden;
}

.footer_left_bottom dt {
	padding-bottom: 10px;
	font-size: 14px;
}

.footer p.bottom-logo {
	border-bottom: #444 solid 1px;
	padding: 20px 0 5px;
	overflow: hidden;
	clear: both;
}

.footer p.bottom-logo span {
	display: block;
	float: left;
	width: 58px;
	background-position: 0 -110px;
	height: 17px;
	text-indent: -9999px;
	margin-right: 15px;
}

.footer_bottom {
	padding: 10px 0;
	line-height: 15px;
	width: 700px;
	margin: 0 auto;
	text-align: center;
	color: #595959;
	font-size: 11px;
}

.footer_left_bottom dd.p-icon {
	text-indent: -9999px;
	display: block;
}

.footer_left_bottom dd.pay-methods {
	width: 165px;
	background-position: 0 -140px;
	height: 39px;
}

.footer_left_bottom dd.delivery-service {
	width: 210px;
	background-position: -169px -140px;
	height: 39px;
}

.footer_left_bottom dd a.iso9001 {
	display: block;
	width: 104px;
	background-position: 0 -182px;
	height: 39px;
	text-indent: -9999px;
}

.footer_left_bottom dd a.twitter {
	display: block;
	float: left;
	width: 24px;
	background-position: -155px -52px;
	height: 24px;
	text-indent: -9999px;
	margin-right: 5px;
}

.footer_left_bottom dd a.linkedin {
	display: block;
	float: left;
	width: 24px;
	background-position: -125px -52px;
	height: 24px;
	text-indent: -9999px;
	margin-right: 5px;
}

.footer_left_bottom dd a.facebook {
	display: block;
	float: left;
	width: 24px;
	background-position: -95px -52px;
	height: 24px;
	text-indent: -9999px;
	margin-right: 5px;
}

.footer_left_bottom dd a.googlplus {
	display: block;
	float: left;
	width: 24px;
	background-position: -185px -52px;
	height: 24px;
	text-indent: -9999px;
}


/*login*/

.logInWrap {
	color: #333;
	margin-left: 48px;
	margin-top: 40px;
	padding-bottom: 80px;
}

.logInWrap h2 {
	font-size: 24px;
	margin-bottom: 11px;
}

.logInWrap p.biaoshizd {
	color: #858585;
	margin-bottom: 42px;
}

.sign-in-box-wrap {
	overflow: hidden;
	float: left;
	background-size: 1px 100%;
	background-repeat: no-repeat;
	background-position: 100% 0%;
	background-image: linear-gradient(bottom, #ffffff 5%, #cccccc 50%, #ffffff 95%);
	background-image: -o-linear-gradient(bottom, #ffffff 5%, #cccccc 50%, #ffffff 95%);
	background-image: -moz-linear-gradient(bottom, #ffffff 5%, #cccccc 50%, #ffffff 95%);
	background-image: -webkit-linear-gradient(bottom, #ffffff 5%, #cccccc 50%, #ffffff 95%);
	background-image: -ms-linear-gradient(bottom, #ffffff 5%, #cccccc 50%, #ffffff 95%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, #ffffff), color-stop(0.5, #cccccc), color-stop(0.95, #ffffff));
}

.sign-in-box-wrap:last-child {
	background: none;
}

.sign-in-box-wrap.form.non-checkout {
	width: 412px;
}

.sign-in-box {
	padding-right: 46px;
}

.sign-in-box-head {
	color: #000000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.sign-in-box-wrap.form .field-container {
	margin-top: 10px;
	overflow: hidden;
}

.sign-in-box-wrap.form .field-container label {
	display: block;
	padding: 0 0 3px;
}

.logInWrap .finput {
	border: 1px solid #cdcdd1;
	height: 22px;
	line-height: 22px;
	outline: medium none;
	padding: 3px 4px;
	width: 356px;
}

.sign-in-box-wrap.form .field-container {
	margin-top: 10px;
	overflow: hidden;
}

.sign-in-box-wrap.form .field-container {
	margin-top: 10px;
	overflow: hidden;
}

.sign-in-box-wrap.form .field-container .half-input-wrap {
	width: 178px;
	float: left;
}

.sign-in-box-wrap.form .field-container .half-input-field {
	width: 168px;
}

.create-account-button,
.factbook-account-button {
	float: left;
	margin-top: 14px;
}

.create-account-button .lock-icon-box {
	background: url("../images/header-sprite.png") no-repeat 14px -1023px #6BC30D;
}

.create-account-button .lock-icon-box:hover {
	background-color: #5fb108
}

.factbook-account-button .facbe-icon-box {
	background: url("../images/header-sprite.png") no-repeat -222px -439px #407ae6;
	margin-left: 12px;
	font-weight: normal;
	padding: 8px 4px 8px 34px;
	font-size: 13px;
}

.factbook-account-button .facbe-icon-box:hover {
	background-color: #2a60c3
}

.login-account-button .login-button {
	background: url("../images/header-sprite.png") no-repeat 14px -1112px #ff5c00;
	padding: 8px 50px;
}

.login-account-button .login-button:hover {
	background-color: #e45707
}

.login-account-button {
	float: left
}

.mainNav {
	color: #9a9a9a;
	font-size: 12px;
}

.Recover {
	font-size: 24px;
	font-weight: 300;
	line-height: 24px;
	margin: 20px 0 15px;
}

.password-recover {
	width: 640px;
}

.password-recover p {
	color: #858585;
	margin: 0 0 25px;
}

.laskh label {
	display: block;
	padding: 0 0 3px;
}

.login-account-button .lidn-button {
	background: url("../images/header-sprite.png") no-repeat 14px -1112px #6BC30D;
	padding: 8px 20px 8px 40px;
}

.login-account-button .lidn-button:hover {
	background-color: #5fb108
}

.xiugchengg {
	padding-left: 76px;
	background: url(../images/okright.gif) no-repeat 0 0;
	margin-top: 80px;
}

.star {
	display: block;
	width: 170px;
	height: 35px;
	margin: 3px 10px 0 0
}

.star span {
	display: block;
	width: 0;
	height: 100%
}

.star-s,
.star-s span {
	background: url(../images/rating-stars.png) repeat-x 0 -100px
}

.star-s {
	width: 70px;
	height: 20px
}

.star-s span {
	background-position: 0 0
}

.wb-meta img {
	max-width: 185px;
}


/**/